<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PUI Log Parser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <section class="section">
      <form method="post" enctype="multipart/form-data">
        <div class="columns is-vcentered is-multiline mx-6">
          <div class="column is-half is-offset-one-quarter">
            <p class="title is-2 has-text-centered">PUI Log Parser</p>
          </div>

          <div class="column is-one-quarter"></div>

          <div class="column is-one-quarter">
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" name="logfile" onchange="this.form.submit()">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                  <span class="file-label">Choose a file...</span>
                  </span>
              </label>
            </div>
          </div>

          <div class="column is-half">
            <div class="content is-medium">
              {% if error == 'extension' %}
              <p class="has-text-danger">Invalid file type. Only .txt and .log files can be uploaded.</p>
              {% elif error == 'no_file' %}
              <p class="has-text-danger">Please select the log file you wish to parse.</p>
              {% else %}
              <p>{{ file_name }}</p>
              {% endif %}
            </div>
          </div>

          <div class="column is-one-fifth">
            <div class="content">
              <p>Include Extra Lines</p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="content">
              <p class="has-text-weight-bold">Targets</p>
            </div>
          </div>

          <div class="column is-half">
            {% if (targets == '') or (not targets) %}
            <input class="input is-primary" type="text" name="targets"
                   placeholder="Separate each target with two commas (,,)" autocomplete="off">
            {% else %}
            <input class="input is-primary" type="text" name="targets"
                   value="{{ targets }}" autocomplete="off">
            {% endif %}
          </div>

          <div class="column is-1">
            {% if lb > 0 %}
            <input class="input" type="text" name="lines_before" value="{{ lb }}" autocomplete="off">
            {% else %}
            <input class="input" type="text" name="lines_before" placeholder="Lines Before" autocomplete="off">
            {% endif %}
          </div>

          <div class="column is-1">
            {% if la > 0 %}
            <input class="input" type="text" name="lines_after" value="{{ la }}" autocomplete="off">
            {% else %}
            <input class="input" type="text" name="lines_after" placeholder="Lines After" autocomplete="off">
            {% endif %}
          </div>

          <div class="column is-one-quarter">
            <div class="content">
              <p class="has-text-weight-bold">Exclude</p>
            </div>
          </div>

          <div class="column is-half">
            {% if (exclude == '') or (not exclude) %}
            <input class="input is-danger" type="text" name="exclude"
                   placeholder="Separate each exclude item with two commas (,,)" autocomplete="off">
            {% else %}
            <input class="input is-danger" type="text" name="exclude"
                   value="{{ exclude }}" autocomplete="off">
            {% endif %}
          </div>

          <div class="column is-one-fifth is-offset-two-fifths">
            <input class="button has-text-centered is-info is-rounded is-fullwidth" type="submit" value="Parse">
          </div>
        </div>
      </form>

      <div class="columns is-vcentered">
        <div class="column is-full is-centered">
          <div class="box" style="max-height: 550px; overflow-y: scroll;">
            {% for item in file_content %}
            {{ item }}<br>
            {% endfor %}
          </div>
        </div>
      </div>

    </section>
  </body>
</html>